@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Somos una empresa 100% peruana líder en venta de guitarras y accesorios . Buscamos ofrecer a nuestros clientes la mejor experiencia de compra, brindándoles asesoría antes, durante y después de su compra. Contamos con más de 16 años en el mercado peruano ofreciendo variedad y garantía.
Contamos con tienda física, una moderna web, RUC verificado.  Además nuestros clientes y años en el mercado nos respaldan. Tenemos actualmente más de 27 mil seguidores en nuestra Fan Page y deseamos seguir creciendo y formes parte de esta familia peruana.</p>
